@media only screen and (max-width: 500px) {
  body {
    background: url(/public/noticianormal.jpg);
    color: rgb(253, 252, 251);
  }
}

/* Imagen utilizada en pantallas de anchura 1200 px y superior */
@media (min-width: 1200px) {
  body {
    background: url(/public/noticianormal.jpg);
  }
}


.body {
  background-repeat: no-repeat;
  background-size: 100px 10em;
  color: aliceblue;
}
